---
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
{% set log_file = list[4].split(".") %}
- hosts: {{ list[0]|trim() }}
  gather_facts: false
  remote_user: {{ list[2]|trim() }}
  tasks:
    - name: Starting the '{{ list[1]|trim() }}'
      shell: {{ list[3]|trim() }}/{{ list[4]|trim() }} stop > {{ list[3]|trim() }}/{{ log_file[0]|trim() }}_stop.log
{%   endif %}
{% endfor %}
